.loginForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  padding: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}
.item {
  margin-bottom: 20px;
}
.item input {
  border: 1px solid #000;
  border-radius: 2px;

  outline: none;
}
.btn {
  width: 100%;
  height: 30px;
  outline: none;
}
